*{
    margin: 0;
    padding: 0;

}


/* CSS-стили для меню иконок - Портфолио */

@font-face {
    font-family: 'icomoon';
    src:  url('../font_for_portfolio_view/own_view_icon.eot?jbpxrk');
    src:  url('../font_for_portfolio_view/own_view_icon.eot?jbpxrk#iefix') format('embedded-opentype'),
    url('../font_for_portfolio_view/own_view_icon.ttf?jbpxrk') format('truetype'),
    url('../font_for_portfolio_view/own_view_icon.woff?jbpxrk') format('woff'),
    url('../font_for_portfolio_view/own_view_icon.svg?jbpxrk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-view_grid:before {
    content: "\e901";
    margin-left: 10px;;
}
.icon-view_inline:before {
    content: "\e900";
    margin-left: -35px;
}
.icon-arrow:before {
    content: "\ea34";
}





/* CSS-стили для контента страницы - Портфолио */

.top_block_town_background{
    background: url("../img/main_img_city.jpg");
    height: 295px;
    background-size: cover;
    text-align: center;


}
.portfolio_text{
    font-family: bebas_neue_regularregular, sans-serif;;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding-top: 110px;

}

.main_wrap{
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}

.title_page_text{
    font-family: bebas_neue_regularregular, sans-serif;;
    font-weight: 600;
    color: #2190c1;
    padding: 0;
    margin: 22px 0 25px 0;
}

/* Стили для меню-навигации портолио */

.block_bottom_border {
    border-top: 1px solid #b3d5e4;
    border-bottom: 1px solid #b3d5e4;


}
.border_left_right{
    border-left: 1px solid #b3d5e4;
    border-right: 1px solid #b3d5e4;
    height: 53px;

}



.list_menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link_menu{
    float: left;
    padding: 17px 0;
}
.link_menu_padding_none_mod{
    padding: 0;
}

.a_link_style {
    display: block;

    text-decoration: none;
    text-transform: uppercase;
    font-family: ubuntu_condensedregular, sans-serif;
    font-size: 15px;

    color: #515862;
    border-right: 1px solid #c3c4c4;

    padding: 0 35px;
}


/* Стили для выпадающего меню */

.links_container_drop-menu{

    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin-left: 57px;

    z-index: 1;

}


.links_container_drop-menu .select_link {
    float: none;

}

.list_menu li:hover > .links_container_drop-menu {
    display: block;
    background: #f98561;
    width: 174px;
    opacity: 1;
}



.input_radio_drop_menu {
    display: none;
    float: right;
    margin-top: 5px;
    cursor: pointer;

}
.list_menu:hover {
    display: block;

}





.bor_bott{
    border-bottom: 1px solid white;
    text-align: left;
    margin: 5px 10px 0 10px;
    padding-bottom: 10px;
}


.bor_bott_none_mod{
    border: none;
}

.label_style{
    margin-left: 10px;
    font-family: ubuntu_condensedregular, sans-serif;
    font-size: medium;
    color: white;
    cursor: pointer;

}

/* Псевдоклассы для стилизации выбранных категорий в выпадающем меню */

.label_style:before {
    content: "";
    display: inline-block;

    width: 12px;
    height: 12px;

    background-color: white;
    float: right;

    border-radius: 6px;
    margin-top: 5px;

}

input:checked + label:before {
    content: "";
    display: inline-block;

    width: 12px;
    height: 12px;

    border-radius: 6px;

    background-color: #2190c1;
}






.backgr:hover {
    background: #000;
}


.border-right_none_mod{
    border: none;
}

.without_border_mod {
    display: inline-block;

    padding: 17px;

    border: none;
    color: #c5f0ff;
    width: 140px;

    background-color: #2190c1;
    margin-left: 57px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.arrow{
    display: inline-block;
    background-image: url("../img/rotate_arrow.png");
    height: 13px;
    width: 15px;

    margin-left: 10px;

    transition: .5s all;
}

.a_link_style:hover{
    color: #2190c1;
}

.without_border_mod:hover{
    background-color: #2190c1;
    color: #c5f0ff;

}
.without_border_mod:hover .arrow{
    transform: rotate(90deg);
}

.view_switch{
    text-decoration: none;
    color: #515862;
    font-size: 22px;
}
.view_switch:hover{
    color: #2190c1;
}



.view_switch_buttons {
    padding: 17px 0;
}

.view_tabs {
    list-style: none;
    display: inline-block;
}




/* Стили для галереи*/

.block_holder {
    position:relative;

    display: inline-block;

    height: 206px;
    width: 273px;

    background-image: url("../img/pic_category_with_camera.jpg");
    margin: 45px 15px 0px 20px;

    cursor: pointer;

}
.block_hover_show {
    display:none;

    position:absolute;

    left:0;
    bottom:0;
    right:0;
    top:0;

    background: #aaaaaa;

    padding: 5px;
    color: white;
}

.block_holder:hover .block_hover_show {
    display:block;
}

.title_text_photo_h3 {
    font-size: 20px;
    font-family: bree_serifregular, sans-serif;
    font-weight: 300;
    margin-top: 20px;
}
.text_info_p {
    font-size: 11px;
    font-family: ubunturegular, sans-serif;
    margin: 20px 0 30px 0;
}

/* Стили для кнопки */

.eye{
    border: 2px solid white;
    border-radius: 7px;
    padding: 12px 30px 12px 60px;

    text-decoration: none;

    font-family: ubunturegular, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: white;
    
    background-image: url("../img/eye_for_button.png");
    background-repeat: no-repeat;
    background-position: 10px;


}

.prev_next_button{
    display: inline-block;

    background-image: url("../img/prev_next_pic.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 237px;

    margin: 65px 0 55px 0;

}




/* Стили для блока клиентов */
.title_clients_text{
    font-family: bebasregular, sans-serif;
    font-size: 27px;
    font-weight: 300;
    color: #2190c1;
    margin-top: 25px;
}


.client_first{
    display: inline-block;
    background-image: url("../img/blueway_client.png");
    height: 19px;
    width: 79px;
    vertical-align: middle;
    margin-right: 55px;
}
.clients_second{
    display: inline-block;
    background-image: url("../img/theme_client.png");
    height: 20px;
    width: 101px;
    vertical-align: middle;
    margin-right: 55px;
}
.clients_third{
    display: inline-block;
    background-image: url("../img/template_client.png");
    height: 25px;
    width: 101px;
    vertical-align: middle;
    margin-right: 55px;
}
.clients_forth{
    display: inline-block;
    background-image: url("../img/stockmarket_client.png");
    height: 16px;
    width: 100px;
    vertical-align: middle;
    margin-right: 55px;
}
.clients_fifth{
    display: inline-block;
    background-image: url("../img/loremispum_client.png");
    height: 27px;
    width: 130px;
    vertical-align: middle;
    margin-right: 55px;
}
.clients_sixth{
    display: inline-block;
    background-image: url("../img/seyyahil.png");
    height: 21px;
    width: 90px;
    vertical-align: middle;
}

.margin_contain{
    margin: 32px 0 30px 0;
}








/*TEST*/




